/* 基本样式 */
body {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* 全局光标样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("../images/Mouse_cursor/SummerPockets.png"), url("../images/Mouse_cursor/SummerPockets.cur"), default;
}


/*!* 其他样式 *!*/
/*.cursor-demo span {*/
/*    min-width: 100px;*/
/*    padding: 5px 10px;*/
/*    margin-bottom: 5px;*/
/*    display: inline-block;*/
/*    border: 1px solid grey;*/
/*    border-radius: 3px;*/
/*}