/* 侧边栏样式 */
.sidebar {
    width: 0;            /* 默认宽度为0，隐藏状态 */
    height: 100%;        /* 高度占据整个视窗高度 */
    position: fixed;     /* 固定定位 */
    top: 60px;           /* 距离顶部距离为60px */
    left: 0;             /* 距离左边距离为0 */
    background-color: #FFFFE0; /* 修改背景颜色为浅黄色 */
    transition: 0.3s;    /* 过渡动画时间 */
    overflow-x: hidden;  /* 水平方向不允许滚动 */
    z-index: 1;          /* 层叠顺序 */
}

/* 内容区域样式 */
.content {
    margin-left: 0;      /* 默认左边距为0 */
    transition: 0.3s;    /* 过渡动画时间 */
    padding: 20px;       /* 内边距 */
}

/* 切换按钮样式 */
.toggle-btn {
    position: fixed;     /* 固定定位 */
    top: 100px;          /* 距离顶部100px */
    left: 0;             /* 距离左边0 */
    background-color: transparent; /* 透明背景 */
    border: none;        /* 无边框 */
    font-size: 24px;     /* 字体大小 */
    color: #333;         /* 文字颜色 */
    cursor: pointer;     /* 鼠标指针变为手形 */
    z-index: 2;          /* 层叠顺序 */
    padding: 10px;       /* 内边距 */
    transition: 0.3s;    /* 过渡动画时间 */
}

/* 侧边栏展开时的按钮样式 */
.sidebar-open .toggle-btn {
    left: 250px;         /* 侧边栏展开时，按钮距离左边250px */
}

/* 侧边栏内的列表样式 */
.sidebar ul {
    list-style-type: none; /* 移除列表项目符号 */
    padding: 0;            /* 无内边距 */
}

/* 侧边栏内的链接样式 */
.sidebar li a {
    display: block;       /* 块级元素显示 */
    padding: 10px;        /* 内边距 */
    color: #D2691E;         /* 文字颜色 */
    text-decoration: none; /* 移除下划线 */
    font-size: 1em;       /* 相对于body的字体大小 */
}

/* 侧边栏内的链接悬停效果 */
.sidebar li a:hover {
    background-color: white; /* 悬停时背景颜色 */
}