body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* 更浅一点的黑色 */
    transition: 0.3s;
    overflow-x: hidden;
    z-index: 1;
}

.content {
    margin-left: 0;
    transition: 0.3s;
    padding: 20px;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #555;
}

/* 主体内容 */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}

p {
    margin: 0 0 10px;
}




/* 图片展示 */


#qrCodeContainer {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1; /* 确保它在其他元素之上 */
}

/* 当链接聚焦时显示二维码 */
.qrLinkContainer span:focus + #qrCodeContainer,
.qrLinkContainer span:hover + #qrCodeContainer {
    display: block;
}

/* 链接样式 */
span {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    outline: none; /* 移除默认的聚焦边框 */
}

/* 防止点击其他地方时二维码消失 */
body {
    user-select: none; /* 禁止文本选择 */
}

/* 点击空白区域隐藏二维码 */
body:active #qrCodeContainer {
    display: none;
}
