/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    !* 设置背景图片 *!*/
/*    background-image: url("images/background.jpeg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    font-family: Arial, sans-serif;*/
/*    !* 设置鼠标光标 *!*/
/*    cursor: url("images/Mouse_cursor/SummerPockets.png"), url("images/Mouse_cursor/SummerPockets.cur"), default;*/
/*}*/



.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.3s;
    overflow-x: hidden;
    z-index: 1;
}

.content {
    margin-left: 0;
    transition: 0.3s;
    padding: 20px;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #555;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}

p {
    margin: 0 0 10px;
}

img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
}

#qrCodeContainer {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.qrLinkContainer span:focus + #qrCodeContainer,
.qrLinkContainer span:hover + #qrCodeContainer {
    display: block;
}

span {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    outline: none;
}

body:active #qrCodeContainer {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("images/Mouse_cursor/SummerPockets.png"), url("images/Mouse_cursor/SummerPockets.cur"), default;
}
